html, body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  background: #FCF5E8;
}

.wrapper {
  background: #fff;
  border-radius: 5px;
  margin: 60px auto;
  padding: 30px;
  width: 650px;
}

.wrapper h1,
.wrapper h2 {
  text-align: center;
}

.wrapper h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 3rem;
  margin-top: -1.2rem;
}

.wrapper form input[type='file'] {
  display: block;
  margin: 4rem auto;
}

.wrapper form button {
  background: #2ABEB3;
  border-color: #2ABEB3;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem auto;
  padding: 1rem;
  width: 60%;
}

#predictions .food-photo,
#predictions .nutrition {
  background: #F0DD5C;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  margin: 1rem auto;
  min-height: 370px;
  padding-top: 25px;
  position: relative;
  text-align: center;
  width: 50%;
}

#predictions .step {
  color: #fff;
  font-size: 0.875rem;
  left: 0.5rem;
  line-height: 1rem;
  position: absolute;
  top: 0.5rem;
}

#predictions .step span {
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  font-weight: bold;
  height: 1rem;
  margin-right: 0.25rem;
  width: 1rem;
  text-align: center;
}

#predictions .nutrition .step {
  color: #1f2933;
}

#predictions .nutrition .step span {
  border-color: #1f2933;
}

#predictions .nutrition {
  background: #F16568;
  float: right;
}

#predictions #concepts h3 {
  margin: 0.25rem;
}

#predictions #concepts img {
  display: block;
  margin: auto;
  max-height: 300px;
  max-width: 95%;
}

#predictions #concepts .loading {
  left: 50%;
  height: 100px;
  margin: -50px 0 0 -50px;
  position: absolute;
  top: 50%;
  width: 100px;
}

.powered-by {
  font-style: italic;
  text-align: center;
}

.powered-by img { height: 1rem; }
