html, body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  background: #55327A;
}

.wrapper {
  background: #f6f6f6;
  border-radius: 70px;
  margin: 60px auto;
  padding: 30px;
  width: 1000px;
  height: 1400px;
}

.wrapper h1,
.wrapper h2 {
  text-align: center;
}

.wrapper h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 3rem;
  margin-top: -1.2rem;
}

.wrapper form input[type='file'] {
  display: block;
  margin: 4rem auto;
}

.wrapper form button {
  background: #6D065A;
  border-color: #6D065A;
  border-radius: 5px;
  color: white;
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem auto;
  padding: 1rem;
  width: 30%;
}

#predictions .food-photo,
#predictions .nutrition {
  background: #FFCAD4;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1rem auto;
  height: 500px;
  padding-top: 25px;
  position: relative;
  text-align: center;
}

#predictions .step {
  color: black;
  font-size: 0.875rem;
  left: 0.5rem;
  line-height: 1rem;
  position: absolute;
  top: 0.5rem;
}

#predictions .step span {
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  font-weight: bold;
  height: 1rem;
  margin-right: 0.25rem;
  width: 1rem;
  text-align: center;
}

#predictions .nutrition .step {
  color: #1f2933;
}

#predictions .nutrition .step span {
  border-color: #1f2933;
}

#predictions .nutrition {
  background: #FFD7D5;
  
}

#predictions #concepts h3 {
  margin: 0.25rem;
}


#predictions #concepts img {
  display: block;
  margin: auto;
  max-height: 300px;
  max-width: 95%;
}

#predictions #concepts .loading {
  left: 50%;
  height: 100px;
  margin: -50px 0 0 -50px;
  position: absolute;
  top: 50%;
  width: 100px;
}

.powered-by {
  font-style: italic;
  color: #fff;
  text-align: center;
}

.powered-by img { height: 1rem; }
